---
import Layout from "../layouts/BaseLayout.astro";
import Welcome from "../components/Welcome.astro";
import Hero from "../components/Home/Hero.astro";
import Vision from "../components/Home/Vision.astro";
import Services from "../components/Home/Services.astro";
import Process from "../components/Home/Process.astro";
import Contact from "../components/Contact.astro";
import WhyUS from "../components/Home/WhyUS.astro";
---

<Layout>
	<Welcome />
	<div class="relative h-[200vh]">
		<section id="hero" class="sticky top-0 h-screen z-10">
			<Hero />
		</section>
		<Vision />
		<WhyUS />
		<Services />
		<Process />
		<Contact />
	</div>
</Layout>
